*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-image: url(" https://img.lovepik.com/background/20211022/large/lovepik-blue-technology-background-image_401896211.jpg");
}


.container{
    width: 100%;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-vector/blue-futuristic-networking-technology_53876-100679.jpg?size=626&ext=jpg&ga=GA1.1.1412446893.1704499200&semt=ais");
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    
}
.calculator{
    background-image: url("https://i.pinimg.com/1200x/ab/50/4d/ab504d5fa01c287c03fd96c635fcdb43.jpg");
    padding: 20px;
    border-radius: 50px;

}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10%;
    box-shadow: -2px -2px 2px white,2px 2px 2px whitesmoke;
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    border-radius: 10%;
}
form input.equal{
    width: 145px;
}



form input.operator{
    color: #d8e0de;
}


